/* // Variables */
:root {
  --main-color: black;
  --light-color: #f4f4f4;
  --medium-color: #ccc;
  --dark-color: #333; 
}

/* Reset */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Initial setup */
html,
body,
header {
  height: 100%;
  background: black;
}
/* Navar */

.navbar {
  background-color: var(--main-color) !important;
  border-bottom: 1px solid #d5ad6d;
}

.navbar-brand {
  color: #d5ad6d !important; 
}
  h1 {
  color: white;
  font-family: 'Ibarra Real Nova', serif;
  text-transform: uppercase;
}
a {
  color: #d5ad6d;
}



/* Landing  */
#showcase {
  position: relative;
  background: url("./img/showcase.png") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  color: white;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* // Footer */


#main-footer{
  font-family: 'Ibarra Real Nova', serif;
  background-color: black !important;
  border-top: 1px solid #d5ad6d;
}
