/* // Variables */
:root {
  --main-color: black;
  --light-color: #f4f4f4;
  --medium-color: #ccc;
  --dark-color: #333; 
}

/* Reset */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Initial setup */
html,
body,
header {
  height: 100%;
}
/* Navar */

.navbar {
  background-color: var(--main-color) !important;
  border-bottom: 1px solid #d5ad6d;
}

.navbar-brand {
  color: #d5ad6d !important; 
}
  h1 {
  color: white;
  font-family: 'Ibarra Real Nova', serif;
  text-transform: uppercase;
}
a {
  color: #d5ad6d;
}



/* Landing  */
#showcase {
  position: relative;
  background-color: black !important;
  background: url("./img/showcase.png") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  color: white;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* AboutUs */

#about {
  background: white;
}

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}
.content .logo {
  height: 180px;
  width: 130px;
}
.content .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}
.content .text {
  line-height: 1.7;
  margin-top: 1 rem;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
  ;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.bg-dark {
  background: #333;
  color: #f4f4f4;
}


/* // Footer */

footer{
  font-family: 'Ibarra Real Nova', serif;
  background-color: black !important;
  border-top: 1px solid #d5ad6d;
  padding: 2.2rem;
}

footer p {
  margin: 0;
  color: #d5ad6d; /*if no support for background-clip*/
  
}


/* Small screens */
@media (max-width:560px){
  #showcase::after {
    height: 50vh;
  }
} 