/* // Variables */
:root {
  --main-color: black;
  --light-color: #f4f4f4;
  --medium-color: #ccc;
  --dark-color: #333; 
}

/* Reset */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Initial setup */
html,
body,
header {
  height: 100%;
  background: cream;
}

/* Header  */
header{
  width:100%;
  position: relative;
  height:50%
}

header .showcase {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
  height: 100vh;
}

.welcome{
  border:1px solid rgb(243,171,16);
  position: absolute;
  top:27%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
  padding:20px;
  box-shadow: 0px 0px 5px 1px rgb(243,173,16);
}

.welcome h1 {
  color: purple;
  padding-top:20px;
  font-size: 50px;
}

.welcome h2 {
  color: red;
  font-size: 30px;
}


/* Navar */

.logo img{
  width:100px;
  margin-top: 4px
}

.bar {
  width:30px;
  margin:4px;
  height:3px;
  color: rgb(139,139,137);
  background:grey
}


 #navBarBtn {
  border:1px solid rgb(156, 156,156);
  display:inline-block;
  cursor: pointer;
  
}

.logoBtn{
  background: #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid orange;
  
}

#navLinks{
  list-style:none;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.showNav {
  height: 270px
}

#navLinks li a{
  background: #424242;
  display: block;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-decoration:none;
  transition: all 0.5s ease;
  font-size: 18px;
  
}

#navLinks li a:hover {
  background:#353535;
  color:orange;
  text-decoration: none;
  padding-left: 20px;
  
}


/* Services */
/* 
#bronzeBtn,
#goldBtn,
#platinumBtn{
  display: inline-flex;
  justify-content: center;
  width: 80%;
} */

.serviceList h1{
  text-align: center;
  background: lightgray;
}

.serviceList-center {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap
}

.box{
  box-shadow: 0px 0px 5px 1px rgb(184, 182,182);
}


.box img{
  widows: 90%;
  display: block;
  height: 300px;
  margin:0 auto;
  transition: all 0.5s ease-in-out;
  transform: scale(0.95);
}
.box:hover{
  box-shadow: 0px 0px 5px 1px rgb(151, 150,150);
}

.text{
  border-top: 1px solid rgb(170,170,170);
  padding: 10px;
  text-align: center;
}

/* ul {
  list-style: none;
} */

@media screen and (min-width:640px){
  .serviceList-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .box{
    flex: 0 0 calc(50% - 15px)
  }
}


/* Responsive Navigation */

@media screen and (min-width:640px){
  nav{
    background: #424242;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px
  }

  #navBarBtn {
    display: none;
  }

  #navLinks {
    display: flex; 
    height:auto
  }

  nav #navLinks a{
    background: transparent;
  }

  .logoBtn{
    border:none
  }

  #navLinks li a:hover{
    background:none;
    color:orange;
    padding-left: 10px
  }
}






/* .navbar {
  background-color: var(--main-color) !important;
  border-bottom: 1px solid #d5ad6d;
}

.navbar-brand {
  color: #d5ad6d !important; 
}
  h1 {
  color: white;
  font-family: 'Ibarra Real Nova', serif;
  text-transform: uppercase;
}
a {
  color: #d5ad6d;
} */



/* Landing  */
/* #showcase { */
  /* position: relative; */
  /* background-color: black !important; */
  /* background: url("./img/showcase.png") no-repeat center center/cover;
  height: 100vh;
  color: #fff; */
/* } */
/* 
#showcase .showcase-content {
  color: white;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
} */

/* AboutUs */



#about .content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}
#about .content .logo {
  height: 180px;
  width: 130px;
}
#about .content .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}
#about .content .text {
  line-height: 1.7;
  margin-top: 1 rem;
}

 .container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
  ;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.bg-dark {
  background: #333;
  color: #f4f4f4;
}


/* Footer */

footer {
  text-align: center;
  background: black;
}

footer p{
  text-align: center;
  color: white;
}

footer .social-media a{
color: white;
margin: 10px;
} 

/* // Footer Section
footer h1 {
  text-align: center;
  background: lightgray;
  padding: 20px;
}

.footer-center {
  background: dodgerblue;
  padding: 10px
}

.left-foot, 
.center-foot, 
.right-foot{
text-align: center;
margin: 20px 0;
}


.left-foot h2,
.center-foot h2,
.right-foot{
  color:#fff;
  text-decoration: underline;
  font-style: italic;
  text-transform: capitalize;
}

.left-foot p, 
.center-foot p, 
.right-foot p{
  font-size: 18px;
  color: red
}

.center-foot li{
  list-style: none;
  margin:5px
}

.center-foot a{
  color: red;
  text-decoration: none;
}

.right-foot h2 {
  margin-bottom: 10px
}

.right-foot a{
  margin: 10px;
  font-size: 25px;
}

.right-foot .fa-facebook-square{
  color:blue
}
.right-foot .fa-instagram{
  color:blue
}

.right-foot .fa-twitter-square{
  color:blue
} */


/* 
@media screen and (min-width:640px){
  .footer-center{
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width:960px){
  .footer-center{
    display: flex;
    justify-content: space-evenly;
  }
 
} */
/* footer{
  position: absolute;
  left: 0;
  bottom: 0;
  right:0;
  font-family: 'Ibarra Real Nova', serif;
  background-color: black !important;
  border-top: 1px solid #d5ad6d;
  padding: 2.2rem;
} 

 footer p {
  margin: 0; 
   color: #d5ad6d;
  
 } */


/* Small screens */
 /* @media (max-width:560px){
  header .showcase {
        height: 50vh;
  }
}   */